In [1]:
import pandas as pd
import pymysql

In [6]:
# Database connection 
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '123456',
    'database': 'database5105',
    'charset': 'utf8mb4'
}

# Connect to the MySQL database
conn = pymysql.connect(**db_config)

# Query to fetch the most recent timestamp from Structured_data
query_latest_time = "SELECT MAX(time) AS latest_time FROM Structured_data;"
latest_time = pd.read_sql(query_latest_time, conn).iloc[0, 0]

# Query to fetch data with the latest timestamp and include report_id and report_year from esg_report
query = """
SELECT sd.*, er.report_id, er.report_year
FROM Structured_data AS sd
JOIN esg_report AS er ON sd.company_name = er.firm_name
WHERE sd.time = %s;
"""
company_data = pd.read_sql(query, conn, params=(latest_time,))

# Close the connection
conn.close()

C:\Users\邹艺妍\AppData\Local\Temp\ipykernel_13964\3384636173.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  latest_time = pd.read_sql(query_latest_time, conn).iloc[0, 0]
C:\Users\邹艺妍\AppData\Local\Temp\ipykernel_13964\3384636173.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  company_data = pd.read_sql(query, conn, params=(latest_time,))

In [7]:
company_data

,data_id,company_name,metric,value,unit,time,report_id,report_year
0,20,AEM,Absolute_emissions,1.00,tCO2e,2024-11-12 11:43:04,2,2023
1,21,AEM,Emission_intensities,0.01,tCO2e/revenue S$â?00,2024-11-12 11:43:04,2,2023
2,22,AEM,Total_energy_consumption,1.00,MWh,2024-11-12 11:43:04,2,2023
3,23,AEM,Energy_consumption_intensity,0.03,MWh/revenue S$â?00,2024-11-12 11:43:04,2,2023
4,24,AEM,Green_financing_projects,1.00,/,2024-11-12 11:43:04,2,2023
5,25,AEM,Green_certified_buildings,1.00,/,2024-11-12 11:43:04,2,2023
6,26,AEM,Waste_generated,193.60,metric ton,2024-11-12 11:43:04,2,2023
7,27,AEM,Water_consumption,1.00,Cu M,2024-11-12 11:43:04,2,2023
8,28,AEM,Water_intensity,0.09,Cu M/revenue S$â?00,2024-11-12 11:43:04,2,2023
9,29,AEM,Women_in_the_management_team,19.00,%,2024-11-12 11:43:04,2,2023
10,30,AEM,Women_on_the_board,14.00,%,2024-11-12 11:43:04,2,2023
11,31,AEM,Assurance_of_sustainability_report,1.00,/,2024-11-12 11:43:04,2,2023
12,32,AEM,List_of_relevant_certifications,1.00,/,2024-11-12 11:43:04,2,2023
13,33,AEM,Availability_of_Healthcare_Resources,1.00,/,2024-11-12 11:43:04,2,2023
14,34,AEM,Community_Health_Program,1.00,/,2024-11-12 11:43:04,2,2023
15,35,AEM,Average_training_hours_per_employee,35.20,Hours,2024-11-12 11:43:04,2,2023
16,36,AEM,Current_employees_by_age_groups,11.00,%,2024-11-12 11:43:04,2,2023
17,37,AEM,Current_employees_by_gender,52.00,%,2024-11-12 11:43:04,2,2023
18,38,AEM,New_hires_by_gender,46.00,%,2024-11-12 11:43:04,2,2023
19,39,AEM,New_hires_by_age,6.00,%,2024-11-12 11:43:04,2,2023
20,40,AEM,Total_turnover,28.00,%,2024-11-12 11:43:04,2,2023
21,41,AEM,Turnover_by_gender,48.00,%,2024-11-12 11:43:04,2,2023
22,42,AEM,Turnover_by_age,9.00,%,2024-11-12 11:43:04,2,2023
23,43,AEM,Fatalities,0.00,number,2024-11-12 11:43:04,2,2023
24,44,AEM,High_consequence_injuries,0.00,number,2024-11-12 11:43:04,2,2023
25,45,AEM,Work_related_injuries,0.00,number,2024-11-12 11:43:04,2,2023

In [8]:
industry_avg_data = pd.DataFrame({
    'categories': ['Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Environment', 'Governance', 'Governance', 'Governance', 'Governance', 'Governance', 'Governance', 'Governance', 'Governance', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social', 'Social'],
    'metric': ['Protected_or_restored_habitats', 'Absolute_emissions', 'Emission_intensities', 'Total_energy_consumption', 'Energy_consumption_intensity', 
               'Green_financing_projects', 'Green_certified_buildings', 'Waste_generated', 'Water_consumption', 'Water_intensity', 
               'External_audit_conducted', 'Board_independence', 'Women_in_the_management_team', 'Women_on_the_board', 'Anti_corruption_disclosures', 
               'Anti_corruption_training', 'Assurance_of_sustainability_report', 'List_of_relevant_certifications', 'Availability_of_Healthcare_Resources', 
               'Community_Health_Program', 'Percentage_of_employees_covered_by_health_insurance', 'Company_donated', 'Philanthropic_initiatives', 'Controversial_Sourcing', 
               'Consumer_rights_protection', 'Average_training_hours_per_employee', 'Current_employees_by_age_groups', 'Current_employees_by_gender', 'Employee_satisfaction_rate', 
               'New_hires_by_gender', 'New_hires_by_age', 'Total_number_of_employees', 'Total_turnover', 'Turnover_by_gender', 
               'Turnover_by_age', 'Fatalities', 'High_consequence_injuries', 'Work_related_injuries', 'Community_nutrition_programs'],
    'weight': [1.34128, 4.61997, 3.20417, 4.47094, 2.98063, 3.20417, 5.81222, 3.27869, 3.12966, 1.49031, 0.74516, 0.74516, 3.8003, 0.07452, 2.30999, 0.81967, 6.03577, 6.03577, 1.93741, 1.93741, 1.63934, 0.29806, 0.52161, 0.52161, 1.63934, 3.42772, 4.39642, 5.14158, 1.86289, 1.80759, 1.54561, 0.74516, 4.24739, 2.28961, 1.95778, 3.42772, 2.23547, 4.09836, 0.22355],
    'avg_value': [None, None, 0.119476363636364, None ,1.95727727272727, None, None, 338.99875, None, 1.83794285714286, None,60 ,42.34 ,28.68, None, None, None, None, None, None, 100, 466528.25, None, None, None, 26.808, 17.85, 57.41, 80, 53.53, 12.85, None, 28.76, 65.42, 16.28, 0, 0, 4.7, None]
})

In [31]:
industry_avg_data

,categories,metric,weight,avg_value
0,Environment,Protected_or_restored_habitats,1.34128,NaN
1,Environment,Absolute_emissions,4.61997,NaN
2,Environment,Emission_intensities,3.20417,0.119476
3,Environment,Total_energy_consumption,4.47094,NaN
4,Environment,Energy_consumption_intensity,2.98063,1.957277
5,Environment,Green_financing_projects,3.20417,NaN
6,Environment,Green_certified_buildings,5.81222,NaN
7,Environment,Waste_generated,3.27869,338.998750
8,Environment,Water_consumption,3.12966,NaN
9,Environment,Water_intensity,1.49031,1.837943
10,Governance,External_audit_conducted,0.74516,NaN
11,Governance,Board_independence,0.74516,60.000000
12,Governance,Women_in_the_management_team,3.80030,42.340000
13,Governance,Women_on_the_board,0.07452,28.680000
14,Governance,Anti_corruption_disclosures,2.30999,NaN
15,Governance,Anti_corruption_training,0.81967,NaN
16,Governance,Assurance_of_sustainability_report,6.03577,NaN
17,Governance,List_of_relevant_certifications,6.03577,NaN
18,Social,Availability_of_Healthcare_Resources,1.93741,NaN
19,Social,Community_Health_Program,1.93741,NaN
20,Social,Percentage_of_employees_covered_by_health_insu...,1.63934,100.000000
21,Social,Company_donated,0.29806,466528.250000
22,Social,Philanthropic_initiatives,0.52161,NaN
23,Social,Controversial_Sourcing,0.52161,NaN
24,Social,Consumer_rights_protection,1.63934,NaN
25,Social,Average_training_hours_per_employee,3.42772,26.808000
26,Social,Current_employees_by_age_groups,4.39642,17.850000
27,Social,Current_employees_by_gender,5.14158,57.410000
28,Social,Employee_satisfaction_rate,1.86289,80.000000
29,Social,New_hires_by_gender,1.80759,53.530000
30,Social,New_hires_by_age,1.54561,12.850000
31,Social,Total_number_of_employees,0.74516,NaN
32,Social,Total_turnover,4.24739,28.760000
33,Social,Turnover_by_gender,2.28961,65.420000
34,Social,Turnover_by_age,1.95778,16.280000
35,Social,Fatalities,3.42772,0.000000
36,Social,High_consequence_injuries,2.23547,0.000000
37,Social,Work_related_injuries,4.09836,4.700000
38,Social,Community_nutrition_programs,0.22355,NaN

In [9]:
def calculate_score(company_value, industry_avg_value, weight, score_type):
    if pd.isna(company_value):
        return 0

    if score_type == 'disclosure':
        return 100
    if score_type == 'lower_is_better':
        diff = company_value - industry_avg_value
        if diff < -0.5 * industry_avg_value:
            return 100
        elif diff < -0.2 * industry_avg_value:
            return 75
        elif abs(diff) <= 0.2 * industry_avg_value:
            return 50
        elif diff < 0.5 * industry_avg_value:
            return 25
        else:
            return 0

    if score_type == 'higher_is_better':
        diff = company_value - industry_avg_value
        if diff < -0.5 * industry_avg_value:
            return 0
        elif diff < -0.2 * industry_avg_value:
            return 25
        elif abs(diff) <= 0.2 * industry_avg_value:
            return 50
        elif diff < 0.5 * industry_avg_value:
            return 75
        else:
            return 100

    if score_type == 'closest_to_average':
        diff = company_value - industry_avg_value
        if abs(diff) <= 0.2 * industry_avg_value:
            return 100
        elif diff < -0.5 * industry_avg_value or diff > 0.5 * industry_avg_value:
            return 0
        else:
            return 50

    if score_type == 'turnover_level':
        if 10 <= company_value <= 20:
            return 100
        elif 0 <= company_value < 10 or 20 < company_value <= 30:
            return 50
        else:
            return 0
    elif score_type == 'adverse_events':
        return 100 if company_value == 0 else 0
    elif score_type == 'Work_related_injuries':
        if company_value == 0:
            return 100
        elif 1 <= company_value <= 2:
            return 50
        else:
            return 0

# Function to calculate the rating based on the total score
def calculate_rating(score):
    if 85.72 <= score <= 100:
        return 'AAA'
    elif 71.44 <= score < 85.72:
        return 'AA'
    elif 57.15 <= score < 71.44:
        return 'A'
    elif 42.87 <= score < 57.15:
        return 'BBB'
    elif 28.58 <= score < 42.86:
        return 'BB'
    elif 14.30 <= score < 28.57:
        return 'B'
    elif 0.0 <= score < 14.29:
        return 'CCC'
    else:
        return 'Unknown'

def calculate_esg_score(company_data, industry_avg_data):
    total_score = 0
    e_score = 0
    s_score = 0
    g_score = 0
    total_weight = 0

    # Initialize 26 default metrics to 0
    metrics_values = {
        "Emission_intensities": 0,
        "Energy_consumption_intensity": 0,
        "Waste_generated": 0,
        "Water_intensity": 0,
        "Board_independence": 0,
        "Women_in_the_management_team": 0,
        "Women_on_the_board": 0,
        "Percentage_of_employees_covered_by_health_insurance": 0,
        "Company_donated": 0,
        "Average_training_hours_per_employee": 0,
        "Current_employees_by_age_groups": 0,
        "Current_employees_by_gender": 0,
        "Employee_satisfaction_rate": 0,
        "New_hires_by_gender": 0,
        "New_hires_by_age": 0,
        "Total_turnover": 0,
        "Turnover_by_gender": 0,
        "Turnover_by_age": 0,
        "Fatalities": 0,
        "High_consequence_injuries": 0,
        "Work_related_injuries": 0,
    }

    # Get unique company names from the data
    report_id = company_data['report_id'].iloc[0]
    report_year = company_data['report_year'].iloc[0]
    company_name = company_data['company_name'].iloc[0]
    results = []

    for idx, row in company_data.iterrows():
        metric = row['metric']
        company_value = row['value']

        industry_avg_row = industry_avg_data[industry_avg_data['metric'] == metric]
        if industry_avg_row.empty:
            continue

        category = industry_avg_row['categories'].values[0]
        weight = industry_avg_row['weight'].values[0]
        # print(category, weight)
        industry_avg_value = industry_avg_row['avg_value'].values[0]

        # Determine score type based on metric
        score_type = ""
        if metric in ['Protected_or_restored_habitats','Absolute_emissions','Total_energy_consumption','Green_financing_projects','Green_certified_buildings',
                        'Water_consumption','External_audit_conducted','Anti_corruption_disclosures','Anti_corruption_training','Assurance_of_sustainability_report',
                        'List_of_relevant_certifications','Availability_of_Healthcare_Resources','Community_Health_Program','Philanthropic_initiatives','Controversial_Sourcing',
                        'Consumer_rights_protection','Total_number_of_employees','Community_nutrition_programs']:
            score_type = "disclosure"
        elif metric in ["Emission_intensities", "Energy_consumption_intensity", "Waste_generated", "Water_intensity"]:
            score_type = "lower_is_better"
        elif metric in ['Board_independence','Women_in_the_management_team','Women_on_the_board','Percentage_of_employees_covered_by_health_insurance','Company_donated',
                        'Average_training_hours_per_employee','Employee_satisfaction_rate']:
            score_type = "higher_is_better"
        elif metric in ["Total_turnover"]:
            score_type = "turnover_level"
        elif metric in ["Fatalities", "High_consequence_injuries"]:
            score_type = "adverse_events"
        elif metric in ["Work_related_injuries"]:
            score_type = "Work_related_injuries"
        else:
            score_type = "closest_to_average"

        # Calculate score for the metric
        score = calculate_score(company_value, industry_avg_value, weight, score_type)
        total_score += score * weight
        total_weight += weight
        if category == 'Environment':
            e_score += score * weight
        elif category == 'Social':
            s_score += score * weight
        elif category == 'Governance':
            g_score += score * weight

        # Update metrics scores
        if metric in metrics_values:
            metrics_values[metric] = score

    # Calculate final scores
    total_score = total_score / 100
    e_score = e_score / 100
    s_score = s_score / 100
    g_score = g_score / 100

    # Calculate rating
    rating = calculate_rating(total_score)

    # Create a result dictionary for each company
    result = {
        'report_id': report_id,
        'report_year': report_year,
        'company_name': company_name,
        'Total_Score': total_score,
        'Rating': rating,
        'E_Score': e_score,
        'S_Score': s_score,
        'G_Score': g_score
    }
    result.update(metrics_values)

    # Append the result to the list
    results.append(result)

    # Convert to DataFrame and save as Excel
    result_df = pd.DataFrame(results)
    print(result_df)
    return result_df

# Load company ESG data

# Calculate ESG scores for all companies
company_score_data = calculate_esg_score(company_data, industry_avg_data)

   report_id  report_year company_name  Total_Score Rating    E_Score  \
0          2         2023          AEM    73.044557     AA  31.371087

    S_Score   G_Score  Emission_intensities  Energy_consumption_intensity  \
0  29.60193  12.07154                   100                           100

   ...  Current_employees_by_gender  Employee_satisfaction_rate  \
0  ...                          100                           0

   New_hires_by_gender  New_hires_by_age  Total_turnover  Turnover_by_gender  \
0                  100                 0              50                  50

   Turnover_by_age  Fatalities  High_consequence_injuries  \
0               50         100                        100

   Work_related_injuries
0                    100

[1 rows x 29 columns]

In [10]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '123456',
    'database': 'database5105',
    'charset': 'utf8mb4'
}

# 连接到 MySQL 数据库
conn = pymysql.connect(**db_config)
cursor = conn.cursor()

# 将数据插入到 MySQL 中
for index, row in company_score_data.iterrows():
    insert_query = """
    INSERT INTO esg_scores (
        report_id, report_year, company_name, Total_Score, Rating, E_Score, S_Score, G_Score, 
        Emission_intensities, Energy_consumption_intensity, Waste_generated, Water_intensity, Board_independence, 
        Women_in_management_team, Women_on_board, 
        Employees_covered_by_health_insurance, 
        Company_donated, 
        Avg_training_hours_per_employee, Employees_above_50, Female_employees, Employee_satisfaction_rate, New_hires_female, New_hires_above_50, 
        Total_turnover, Turnover_female, Turnover_above_50, 
        Fatalities, 
        High_consequence_injuries, 
        Work_related_injuries
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_query, (
        row['report_id'], row['report_year'], row['company_name'], row['Total_Score'], row['Rating'], row['E_Score'], row['S_Score'], row['G_Score'], 
        row['Emission_intensities'], row['Energy_consumption_intensity'], row['Waste_generated'], row['Water_intensity'], row['Board_independence'], 
        row['Women_in_the_management_team'], row['Women_on_the_board'], 
        row['Percentage_of_employees_covered_by_health_insurance'], 
        row['Company_donated'], 
        row['Average_training_hours_per_employee'], row['Current_employees_by_age_groups'], 
        row['Current_employees_by_gender'], row['Employee_satisfaction_rate'], row['New_hires_by_gender'], row['New_hires_by_age'], 
        row['Total_turnover'], row['Turnover_by_gender'], row['Turnover_by_age'], 
        row['Fatalities'], 
        row['High_consequence_injuries'], 
        row['Work_related_injuries']
    ))

# 提交更改并关闭连接
conn.commit()
cursor.close()
conn.close()

print("Data imported successfully!")

Data imported successfully!